*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

.nav {
    border-top: 10px solid rgb(109, 120, 168);
    display: inline-block;
    width: 100%;
    padding: 24px 70px 24px 130px;
    box-sizing: border-box;
}

.nav img#logo {
    width: 200px;
}

.nav-links {
    float: right;
    height: 50px;
    text-align: center;
    padding: 20px 0;
}

a.nav-link {
    font-size: 18px;
    padding: 3px 5px;
    border-right: 1px solid grey;
    text-align: center;
}

.capa{
    width: 100%;
    padding: 0 70px 0 130px;
    background-color: lightgrey;
}
.capa img{
    height: 100%;
    width: 100%;
    margin: 0 auto;
}

ol{
    padding-left: 40px;
    margin-bottom: 12px;
 }

 h2{
    margin-top: 20px;
    margin-bottom: 18px;
}

.contact{
    padding: 24px 70px 24px 130px;
}

.contact-form{
    padding: 24px 70px 24px 130px;
}
.contact-form label,
.contact-form textarea {
    display: block;
}


.content{
    padding: 10px 70px 10px 130px;
}
.content p{
    margin-bottom: 16px;
}
.content-rights{
    text-align: center;
    margin-top: 16px;
    font-weight: bold;
}

table, th, td{
    border: 1px solid black;
    border-collapse: collapse;
}
th, td{
    padding: 5px 10px;
}

th{
    background-color:rgba(109, 119, 168, 0.47);
}
