    {% extends "base.html" %}

    {% block conteudo %}
        <h2>Entre em contato </h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quo, ratione autem. Optio, quod repellat. Sed, ipsa. Optio earum odit animi.</p>
    </div>
    <hr>
    <form class="contact-form">
        <label> Seu email:</label>
        <input type="text" />
        <label>Assunto:</label>
        <input type="text" />
        <label>Descrição:</label>
        <textarea></textarea>
        <button type="submit">Enviar</button>
    </form>
    {% endblock %}